* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  background-color: black;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.background {
  width: 445px;
  height: 100%;
  background-size: cover;
  background-image: url("assets/img/background.jpg");
  position: absolute;
  z-index: -1;
}

.text-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #ffffff;
  font-weight: 900;
  padding-bottom: 40px;
}

.text-title {
  font-size: 42px;
}

.text-subtitle {
  font-size: 24px;
}

.game-screen {
  background-image: url("assets/img/ramka_full.png");
  background-size: cover;
  background-position: center;
  width: 293px;
  height: 293px;
  margin: auto;
}

.screen-active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.active {
  opacity: 1;
  z-index: 2;
}

.deactive {
  opacity: 0;
  transition: 0.1s;
}

.screenStart {
  margin: 0px;
  position: fixed;
  width: 282px;
  height: 280px;
}

.loading {
  width: 100px;
  height: 100px;
  transition: 0.1s ease-in;
  position: fixed;
}

.img-signal {
  box-sizing: border-box;
  padding: 1px;
  width: 282px;
  height: 280px;
  transition: 0.1s;
}

.game-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}

.get-signal {
  max-width: 130px; /* Ширина кнопки */
  max-height: 60px; /* Высота кнопки */
  cursor: pointer;
  border-radius: 32px;
  border: none; /* Убираем границу кнопки */
  padding: 0; /* Убираем внутренний отступ */
  outline: none; /* Убираем контур фокуса */
}
.get-signal img {
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease;
  border: none;
  border-radius: 32px;
}

.get-signal:active {
  transform: scale(0.95); /* Масштабирование картинки при активации */
}

.game-here {
  max-width: 130px; /* Ширина кнопки */
  cursor: pointer;
  border-radius: 32px;
  border: none; /* Убираем границу кнопки */
  padding: 0; /* Убираем внутренний отступ */
  outline: none; /* Убираем контур фокуса */
}

.game-here img {
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease;
  border: none;
  border-radius: 32px;
}

.game-here:active {
  transform: scale(0.95); /* Масштабирование картинки при активации */
}
